_includes/
_sass/
_site/
assets/
CODE_OF_CONDUCT.md
Gemfile
Gemfile.lock
History.markdown
LICENSE.txt
minima.gemspec
README.md
screenshot.png
script/
.sass-cache
_layouts/home.html
_layouts/page.html
_layouts/post.html
